@import "../../../../../../assets/styles/variables";

dd-add-new-case-modal {

  form {
    display: grid;
    height: 100%;
    grid-template-rows: 60px calc(100% - 110px) 50px;

    .dd-add-new-case-modal-content {
      display: grid;
      grid-template-columns: 60% 40%;
      height: 100%;

      .inputs-container {
        padding: 20px 0;
        display: flex;

        .glucometer {
          position: relative;

          svg {
            margin-left: 25px;
          }

          .glucometer-input {
            position: absolute;
            left: 85px;
            top: 100px;
            font-size: 26px;
            text-align: center;
          }

          .glucometer-value-type {
            position: absolute;
            left: 85px;
            top: 200px;
          }
        }

      }
    }

    .dd-add-new-case-modal-footer {
      display: flex;
    }

    .form-field-row {
      display: flex;

      mat-form-field {
        width: 100%;
      }

      .current-time {
        margin-left: 10px;
      }
    }

    .content-editor {
      width: 100%;

      .ql-toolbar {
        background-color: $whiteColor;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border: none;
      }

      .ql-container {
        border: 1px solid rgba(255,255,255,.3);
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }
    }
  }
}
