<form [formGroup]='form'>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_INFO.FORM.FIRST_NAME_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput autofocus
           placeholder="{{ 'PATIENT_INFO.FORM.FIRST_NAME_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='firstName' />

    <mat-error *ngIf="form.controls.firstName.errors?.required">
      {{ 'PATIENT_INFO.FORM.FIRST_NAME_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_INFO.FORM.LAST_NAME_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_INFO.FORM.LAST_NAME_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='lastName' />

    <mat-error *ngIf="form.controls.lastName.errors?.required">
      {{ 'PATIENT_INFO.FORM.LAST_NAME_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_INFO.FORM.BIRTH_DATE_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_INFO.FORM.BIRTH_DATE_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='birthDate'
           [matDatepicker]="dp3" />
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>

    <mat-error *ngIf="form.controls.birthDate.errors?.required">
      {{ 'PATIENT_INFO.FORM.BIRTH_DATE_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_INFO.FORM.PHONE_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_INFO.FORM.PHONE_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='phone' />

    <mat-error *ngIf="form.controls.phone.errors?.required">
      {{ 'PATIENT_INFO.FORM.PHONE_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_INFO.FORM.EMAIL_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput type='email'
           placeholder="{{ 'PATIENT_INFO.FORM.EMAIL_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='email' />

    <mat-error *ngIf='form.controls.email.errors?.email'>
      {{ 'PATIENT_INFO.FORM.EMAIL_CONTROL.ERRORS.INVALID' | translate }}
    </mat-error>

    <mat-error *ngIf='form.controls.email.errors?.required'>
      {{ 'PATIENT_INFO.FORM.EMAIL_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_INFO.FORM.PASSWORD_CONTROL.LABEL' | translate }}
    </mat-label>

    <input required matInput minlength='5' maxlength='50'
           placeholder="{{ 'PATIENT_INFO.FORM.PASSWORD_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='password'
           [type]="hidePassword ? 'password' : 'text'">

    <button mat-icon-button matSuffix
            (click)="hidePassword = !hidePassword; $event.preventDefault()"
            [attr.aria-pressed]="hidePassword">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>

    <mat-password-strength [password]="form.controls.password.value"></mat-password-strength>

    <mat-error *ngIf="form.controls.password.errors?.required">
      {{ 'PATIENT_INFO.FORM.PASSWORD_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

    <mat-error *ngIf="form.controls.password.errors?.minlength">
      {{ 'PATIENT_INFO.FORM.PASSWORD_CONTROL.ERRORS.MIN_LENGTH' | translate }}
    </mat-error>

    <mat-error *ngIf="form.controls.password.errors?.maxlength">
      {{ 'PATIENT_INFO.FORM.PASSWORD_CONTROL.ERRORS.MAX_LENGTH' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_INFO.FORM.CONFIRM_PASSWORD_CONTROL.LABEL' | translate }}
    </mat-label>

    <input required matInput
           placeholder="{{ 'PATIENT_INFO.FORM.CONFIRM_PASSWORD_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='confirmPassword'
           [type]="hideConfirmPassword ? 'password' : 'text'">

    <button mat-icon-button matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword; $event.preventDefault()"
            [attr.aria-pressed]="hideConfirmPassword">
      <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>

    <mat-error *ngIf="form.controls.confirmPassword.errors?.required">
      {{ 'PATIENT_INFO.FORM.CONFIRM_PASSWORD_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

    <mat-error *ngIf="form.controls.confirmPassword.errors?.notMatched">
      {{ 'PATIENT_INFO.FORM.CONFIRM_PASSWORD_CONTROL.ERRORS.NOT_MATCHED' | translate }}
    </mat-error>

  </mat-form-field>

</form>
