<form [formGroup]='form'>

  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input required matInput
           placeholder="Type in your first name"
           formControlName='firstName' />

    <mat-error *ngIf="form.controls.firstName.errors?.required">
      First name is required field
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input required matInput
           placeholder="Type in your last name"
           formControlName='lastName' />

    <mat-error *ngIf="form.controls.lastName.errors?.required">
      Last name is required field
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Birth date</mat-label>
    <input required matInput
           placeholder='Type in or select your birth date'
           formControlName='birthDate'
           [matDatepicker]="dp3" />
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>

    <mat-error *ngIf="form.controls.birthDate.errors?.required">
      Birth date is required field
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone number</mat-label>
    <input required matInput
           placeholder="Type in your contact phone number"
           formControlName='phone' />

    <mat-error *ngIf="form.controls.phone.errors?.required">
      Contact phone number is required field
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input required matInput type='email'
           placeholder="Type in your valid email address"
           formControlName='email' />

    <mat-error *ngIf='form.controls.email.errors?.email'>
      Email is not valid
    </mat-error>

    <mat-error *ngIf='form.controls.email.errors?.required'>
      Email is required field
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input required matInput minlength='5' maxlength='50' type='password'
           placeholder="Type in your password"
           formControlName='password' />

    <mat-error *ngIf="form.controls.password.errors?.required">
      Password is required field
    </mat-error>

    <mat-error *ngIf="form.controls.password.errors?.minlength">
      Password must contain at least 5 characters
    </mat-error>

    <mat-error *ngIf="form.controls.password.errors?.maxlength">
      Password can not contain more than 50 characters
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input required matInput type='password'
           placeholder="Placeholder"
           formControlName='confirmPassword' />

    <mat-error *ngIf="form.controls.confirmPassword.errors?.required">
      Confirm password is required field
    </mat-error>

    <mat-error *ngIf="form.controls.confirmPassword.errors?.notMatched">
      Confirm password does not match
    </mat-error>

  </mat-form-field>

</form>
