<mat-accordion class='dd-case-group-container'>

  <mat-expansion-panel [expanded]='caseGroupExpanded'>

    <mat-expansion-panel-header>

      <mat-panel-title>
        <mat-chip-list>
          <mat-chip [selected]='caseGroup.title === today'>{{ caseGroup.title }}</mat-chip>

          <div>
            <span>Останні показники:</span>
            <mat-chip>{{ caseGroup.lastIndication }} {{ caseGroup.lastIndicationType }}</mat-chip>
            <mat-chip>Новорапід: {{ caseGroup.lastShortInsulin }} Од.</mat-chip>
            <mat-chip>Тресіба: {{ caseGroup.lastBaseInsulin }} Од.</mat-chip>
          </div>
        </mat-chip-list>

      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class='dd-case-group-content'>

      <table mat-table [dataSource]='caseGroup.caseList' class="mat-elevation-z8">

        <ng-container matColumnDef="currentTime">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let element">

            <mat-chip-list>
              <mat-chip>{{ element.currentTime }}</mat-chip>
            </mat-chip-list>

          </td>
        </ng-container>

        <ng-container matColumnDef="glucometerIndication">
          <th mat-header-cell *matHeaderCellDef> Glucose indication </th>
          <td mat-cell *matCellDef="let element"> {{ element.glucometerIndication }} </td>
        </ng-container>

        <ng-container matColumnDef="glucometerIndicationType">
          <th mat-header-cell *matHeaderCellDef> Glucose indication type</th>
          <td mat-cell *matCellDef="let element"> {{ element.glucometerIndicationType }} </td>
        </ng-container>

        <ng-container matColumnDef="shortInsulin">
          <th mat-header-cell *matHeaderCellDef> Short insulin</th>
          <td mat-cell *matCellDef="let element"> {{ element.shortInsulin }} </td>
        </ng-container>

        <ng-container matColumnDef="baseInsulin">
          <th mat-header-cell *matHeaderCellDef> Base insulin</th>
          <td mat-cell *matCellDef="let element"> {{ element.baseInsulin }} </td>
        </ng-container>

        <ng-container matColumnDef="mealType">
          <th mat-header-cell *matHeaderCellDef> Meal type</th>
          <td mat-cell *matCellDef="let element"> {{ element.mealType }} </td>
        </ng-container>

        <ng-container matColumnDef="mealDescription">
          <th mat-header-cell *matHeaderCellDef> What was eaten</th>
          <td mat-cell *matCellDef="let element" [innerHTML]='element.mealDescription'></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="caseListDisplayColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: caseListDisplayColumn;"></tr>

      </table>

    </div>

  </mat-expansion-panel>

</mat-accordion>
