dd-case-group {
  display: block;
  width: 100%;
  margin-bottom: 10px;

  .dd-case-group-container {

    .mat-expansion-panel-header {

      mat-chip-list {
        width: 100%;

        .mat-chip-list-wrapper {
          justify-content: space-between;
        }
      }

    }

    .mat-expansion-panel-body {
      padding: 24px;

      .dd-case-group-content {

        table {
          width: 100%;
        }

      }

    }
  }

}
