@mixin auth-scaffold {

  .dd-auth-scaffold-container {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;

    .dd-auth-scaffold {
      padding: 0 30px;

      &.left-column,
      &.right-column {

        display: flex;
        flex-direction: column;
        justify-content: center;

      }

      .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          color: white;
          text-decoration: none;
        }
      }

      mat-form-field {
        width: 100%;
      }

      .mat-stepper-horizontal {
        background-color: transparent;
      }
    }
  }

}
