@mixin auth-scaffold {

  .dd-auth-scaffold-container {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;

    .dd-auth-scaffold {
      padding: 0 30px;

      &.left-column,
      &.right-column {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          color: rgba(255,255,255,.65);
        }

        small {
          display: block;
          padding: 30px 0;
          color: rgba(255,255,255,.65);
        }

      }

      .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        button {
          color: white;
          text-decoration: none;
        }

        .download-app-links {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 63px;

          a {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.3s ease;
            margin-right: 20px;

            &:hover {
              opacity: 0.7;
            }

            svg {
              width: 50px;
              height: 50px;
            }

            span {
              padding-left: 10px;
              color: rgba(255,255,255,.65);
            }

          }
        }
      }

      .mat-stepper-horizontal {
        background-color: transparent;

        mat-step {

          .buttons-container {
            display: flex;
            justify-content: space-between;
          }

        }
      }

      mat-form-field {
        width: 100%;
      }
    }
  }

}
