$generalThemeColor: #e91e63;
$generalGreyColor: #eeeeee;
$generalDarkGreyColor: #999;
$generalBlackColor: #000000;

$loginRegisterTextColor: rgba(255,255,255,.65);
$whiteColor: #ffffff;

$oneFactorBoxShadow: 0 0 7px 0 rgba(62, 78, 80, 0.48);
$triFactorBoxShadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
