dd-sidenav-start {

  .dd-sidenav-start {
    user-select: none;

    .dd-sidenav-start-logo {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      svg {
        width: 50px;
        height: 50px;
      }

      h1 {
        margin: 0 0 7px 0;
        font-size: 20px;
      }
    }

    .dd-sidenav-start-user-container {

      .user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        flex-direction: column;
        cursor: default;
        position: relative;

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          box-shadow: 0 0 7px 0 rgba(62, 78, 80, 0.84);
        }

        button {
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(-50%, 50%);

          svg {
            width: 15px;
            height: 15px;

            path {
              fill: #ffffff;
            }
          }
        }

        h3 {
          margin-top: 20px;
        }

        small {
          color: #999;
        }

      }

      .app-links {

        mat-list {

          mat-list-item {
            cursor: pointer;
          }

        }

      }

    }

  }

}
