<div class='dd-patient-cases-container' *ngIf='casesList; else isLoading'>

  <button mat-mini-fab color='primary' *ngIf='casesList' (click)='openNewCaseModal()'>
    +
  </button>

  <div class='dd-empty-cases-list' *ngIf='!(casesList && casesList.length)'>

    <h3>{{ 'PATIENT_CASES.EMPTY_CASE_LIST_TITLE' | translate }}</h3>
    <button mat-mini-fab color='primary' (click)='openNewCaseModal()'>
      +
    </button>

  </div>

  <!-- ADD top nav bar with toggle button for filters sidenav -->
  <!-- ADD cases-list [case]="case" -->

  <pre>
    {{ casesList | json }}
  </pre>

</div>

<ng-template #isLoading>
  <div class='dd-progress-bar-onload'>
    <mat-progress-bar mode='buffer'></mat-progress-bar>
  </div>
</ng-template>
