.dd-patient-cases-container {
  position: relative;
  flex-direction: column;
  display: flex;
  height: 100%;

  .dd-empty-cases-list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .dd-patient-cases-paginator {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;

    .mat-paginator-container {
      justify-content: flex-start;
    }

  }
}
