<div class='dd-auth-scaffold-container'>

  <div class='dd-auth-scaffold left-column'>

    <h1>Daily Diabetes</h1>

    <div class='text'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit rem saepe sequi suscipit tenetur ullam veniam
        voluptatum! Commodi enim et exercitationem itaque iusto labore omnis quas quibusdam rem ullam?</p>
      <p>Ad alias, animi, aut, commodi culpa dicta eaque eligendi est minus nihil obcaecati odit omnis optio porro
        repudiandae rerum sint suscipit totam. Culpa dolores eligendi est quod rem sed temporibus?</p>
    </div>

    <div class='buttons-container'>

      <button mat-stroked-button routerLink='/login'>Already registered, go and login</button>

    </div>

  </div>

  <div class='dd-auth-scaffold right-column'>

    <mat-horizontal-stepper [linear]='true' #stepper>

      <mat-step [stepControl]='patientInfoCmp.form'>

        <ng-template matStepLabel>Patient info</ng-template>

        <dd-patient-info></dd-patient-info>

        <button mat-flat-button
                color='primary'
                [disabled]='patientInfoCmp.form.invalid'
                (click)='stepper.next()'>Next</button>

      </mat-step>

<!--      <mat-step [stepControl]='patientInfoCmp.form'>-->

<!--        <ng-template matStepLabel>Patient address</ng-template>-->

<!--        <dd-patient-address-info></dd-patient-address-info>-->

<!--        <button mat-flat-button-->
<!--                color='primary'-->
<!--                (click)='stepper.previous()'>Back</button>-->

<!--        <button mat-flat-button-->
<!--                color='primary'-->
<!--                (click)='stepper.next()'>Next</button>-->

<!--      </mat-step>-->

<!--      <mat-step [stepControl]='patientDiseaseCmp.form'>-->

<!--        <ng-template matStepLabel>Patient disease info</ng-template>-->

<!--        <dd-patient-disease-info></dd-patient-disease-info>-->

<!--        <button mat-flat-button-->
<!--                color='primary'-->
<!--                (click)='stepper.previous()'>Back</button>-->

<!--        <button mat-flat-button-->
<!--                color='primary'-->
<!--                (click)='submit()'>Submit</button>-->

<!--      </mat-step>-->

    </mat-horizontal-stepper>

  </div>

</div>
