.dd-profile-modal-container {
  display: grid;
  height: 100%;
  grid-template-rows: calc(100% - 50px) 50px;

  .mat-tab-body-wrapper {
    height: 100%;
  }

  .dd-profile-modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
