<form class='dd-patient-disease-info-form' [formGroup]='form'>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_DISEASE.FORM.DIABETES_TYPE_CONTROL.LABEL' | translate }}
    </mat-label>

    <mat-select required
                placeholder="{{ 'PATIENT_DISEASE.FORM.DIABETES_TYPE_CONTROL.PLACEHOLDER' | translate }}"
                formControlName='diabetesType'>

      <mat-option *ngFor='let type of diabetesTypes' [value]='type'>{{ type }}</mat-option>

    </mat-select>

    <mat-error *ngIf='form.controls.diabetesType.errors?.required'>
      {{ 'PATIENT_DISEASE.FORM.DIABETES_TYPE_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <table class='table-full-width' formGroupName='illPeriod'>

    <tr>

      <td>

        <mat-form-field appearance="outline">
          <mat-label>
            {{ 'PATIENT_DISEASE.FORM.ILL_TIME_CONTROL.LABEL' | translate }}
          </mat-label>
          <input required matInput type='number' min='0' max='150'
                 placeholder="{{ 'PATIENT_DISEASE.FORM.ILL_TIME_CONTROL.PLACEHOLDER' | translate }}"
                 formControlName='time' />

          <mat-error *ngIf='illPeriodFormGroup.controls.time.errors?.required'>
            {{ 'PATIENT_DISEASE.FORM.ILL_TIME_CONTROL.ERRORS.REQUIRED' | translate }}
          </mat-error>

        </mat-form-field>

      </td>

      <td>

        <mat-form-field appearance="outline">

          <mat-label>
            {{ 'PATIENT_DISEASE.FORM.ILL_TIME_UNIT_CONTROL.LABEL' | translate }}
          </mat-label>

          <mat-select required
                      placeholder="{{ 'PATIENT_DISEASE.FORM.ILL_TIME_UNIT_CONTROL.PLACEHOLDER' | translate }}"
                      formControlName='timeUnit'>

            <mat-option *ngFor='let unit of illPeriodUnits' [value]='unit'>
              {{ unit }}
            </mat-option>

          </mat-select>

          <mat-error *ngIf='illPeriodFormGroup.controls.timeUnit.errors?.required'>
            {{ 'PATIENT_DISEASE.FORM.ILL_TIME_UNIT_CONTROL.ERRORS.REQUIRED' | translate }}
          </mat-error>

        </mat-form-field>

      </td>

    </tr>

  </table>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_DISEASE.FORM.SHORT_INSULIN_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_DISEASE.FORM.SHORT_INSULIN_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='shortInsulin' />

    <mat-error *ngIf='form.controls.shortInsulin.errors?.required'>
      {{ 'PATIENT_DISEASE.FORM.SHORT_INSULIN_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_DISEASE.FORM.BASE_INSULIN_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_DISEASE.FORM.BASE_INSULIN_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='baseInsulin' />

    <mat-error *ngIf='form.controls.baseInsulin.errors?.required'>
      {{ 'PATIENT_DISEASE.FORM.BASE_INSULIN_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

</form>
