<form [formGroup]='form'>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_ADDRESS.FORM.COUNTRY_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_ADDRESS.FORM.COUNTRY_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='country' />

    <mat-error *ngIf="form.controls.country.errors?.required">
      {{ 'PATIENT_ADDRESS.FORM.COUNTRY_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_ADDRESS.FORM.CITY_OR_VILLAGE_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_ADDRESS.FORM.CITY_OR_VILLAGE_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='cityOrVillage' />

    <mat-error *ngIf="form.controls.cityOrVillage.errors?.required">
      {{ 'PATIENT_ADDRESS.FORM.CITY_OR_VILLAGE_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_ADDRESS.FORM.ADDRESS_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_ADDRESS.FORM.ADDRESS_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='address' />

    <mat-error *ngIf="form.controls.address.errors?.required">
      {{ 'PATIENT_ADDRESS.FORM.ADDRESS_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'PATIENT_ADDRESS.FORM.ZIP_CODE_CONTROL.LABEL' | translate }}
    </mat-label>
    <input required matInput
           placeholder="{{ 'PATIENT_ADDRESS.FORM.ZIP_CODE_CONTROL.PLACEHOLDER' | translate }}"
           formControlName='postalZipCode' />

    <mat-error *ngIf="form.controls.postalZipCode.errors?.required">
      {{ 'PATIENT_ADDRESS.FORM.ZIP_CODE_CONTROL.ERRORS.REQUIRED' | translate }}
    </mat-error>

  </mat-form-field>

</form>
